.DeskBtn { border: 4px solid rgb(221, 221, 221) !important; }
.gavelFont { font-size: 50px; }
.subscribe-btn { background-color: rgb(186, 2, 2); border: 1px solid rgb(186, 2, 2); color: rgb(255, 255, 255); border-radius: 5px; box-shadow: rgb(186, 2, 2) 3px 3px 5px; transition: all 0.4s ease-in-out 0s; font-weight: 700; }
.subscribe-btn:hover { border-color: lightgray; }
.foo-car a:hover { text-decoration: underline !important; }
.red-custom-bottom { border-bottom: 2px solid rgb(220, 53, 69) !important; }
.mobileMenu { opacity: 0.9; }
#wa_img { position: relative; }
.bottomRedBorder {
  width: 90%;
  margin: auto;
}
#wa_img #wpClose {position: absolute;right: -6px;top: 18px;background: #FFFFFF;padding: 0px 8px;color: black;border-radius: 10%;border: 2px solid lightgray;}
.searchForUsedCar { color: rgb(0, 0, 0); font-weight: 700; font-size: 24px; letter-spacing: 1px; }
.searchForUsedCar i { color: rgb(220, 53, 69); }
.carSearchKeywords button { font-size: 20px !important; }
.carSearchKeywords button:hover { color: rgb(0, 0, 0); }
.searchForUsedCarBtn {border-radius: 10px;font-style: italic;font-size: 18px;font-weight: 600;padding: 4px 0;/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fd031b+0,ec1a25+49,e1292c+51,c20a07+100 */ /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  #fd031b 0%,#ec1a25 49%,#e1292c 51%,#c20a07 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ /* IE6-9 */box-shadow: rgb(136 136 136 / 40%) 6px 6px 10px !important;}
.nextBlog { font-size: 30px; }
.blogsMobile p { color: rgb(0, 0, 0) !important; }
.faq p { color: rgb(0, 0, 0); font-weight: 600; }
.mobileMenu p, .mobileMenu a, .mobileMenu select, .mobileMenu label { font-weight: 600; }
.aboutCarContent p {color: rgb(0, 0, 0); margin-right: 20px;}
.cars-display .card .card-body p { line-height: 15px; }
.popularReqModel .fa.fa-square { font-size: 8px; }
@media screen and (min-width: 767px) {
  .footer .social-desk { display: none; }
}
@media screen and (max-width: 2560px) {
  .row.crbtns { height: 1220px; }
  .detTable td{
    font-size: 18px;
    color: #000;
  }
} 
@media screen and (max-width: 2400px) {
  .row.crbtns { height: 1150px; }
} 
@media screen and (max-width: 2100px) {
  .row.crbtns { height: 985px; }
} 
@media screen and (max-width: 2050px) {
  .row.crbtns { height: 965px; }
} 
@media screen and (max-width: 2000px) {
  .row.crbtns { height: 940px; }
} 
@media screen and (max-width: 1950px) {
  .row.crbtns { height: 915px; }
}
@media screen and (max-width: 1900px) {
  .row.crbtns { height: 890px; }
}
@media screen and (max-width: 1850px) {
  .row.crbtns { height: 865px; }
}
@media screen and (max-width: 1800px) {
  .row.crbtns { height: 840px; }
}
@media screen and (max-width: 1750px) {
  .row.crbtns { height: 820px; }
} 
@media screen and (max-width: 1700px) {
  .row.crbtns { height: 790px; }
} 
@media screen and (max-width: 1650px) {
  .row.crbtns { height: 765px; }
} 
@media screen and (max-width: 1600px) {
  .row.crbtns { height: 740px; }
}
@media screen and (max-width: 1550px) {
  .row.crbtns { height: 720px; }
}
@media screen and (max-width: 1520px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 30px; }
  .desktopViewStockBid .bigBtn .fs-5 { font-size: 15px !important; }
  .row.crbtns { height: 680px; }
}
@media screen and (max-width: 1512px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 25px; }
  .row.crbtns { height: 680px; }
  .detTable td{
    font-size: 16px;
    color: #000;
  }
}
@media screen and (max-width: 1440px ) {
  .row.crbtns { height: 660px; }
  .height-space1 {
    margin-top: 15px !important;
  }
    .options span.fs-10{
      font-size: 8px;
    }
    .height-space2 {
      margin-top: 65px !important;
  }
}
@media screen and (max-width: 1390px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 25px; }
  .desktopViewStockBid .bigBtn .fs-5 { font-size: 13px !important; }
  .desktopViewStockBid .flx img { max-width: 30px; max-height: 25px; }
  .desktopViewStockBid .flx .fa.fa-angle-right { height: 30px; width: 30px; font-size: 13px !important; }
  .row.crbtns { height: 630px; }
}
@media screen and (max-width: 1339px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 22px; }
  .row.crbtns { height: 610px; }
}
@media screen and (max-width: 1284px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 22px !important; }
  .gavelFont { font-size: 40px; }
  .row.crbtns { height: 580px; }
}
@media screen and (max-width: 1270px) {
  .desktopViewStockBid .bigBtn .fs-5 { font-size: 11px !important; }
  .row.crbtns { height: 560px; }
}

@media screen and (max-width: 1248px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 18px !important; }
  .row.crbtns { height: 600px; }
}
@media screen and (max-width: 1200px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 18px !important; }
  .row.crbtns { height: 570px; }
  .header-op-btn { font-size: 14px !important; }
  .header-op-btn span i { font-size: 14px !important; }
  .detTable td{
    font-size: 15px;
    color: #000;
  }
}
@media screen and (max-width: 1171px) {
  .desktopViewStockBid .gavelFont { font-size: 20px !important; }
  .row.crbtns { height: 560px; }
}
@media screen and (max-width: 1111px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 16px !important; }
  .desktopViewStockBid .bigBtn .fs-5 { font-size: 10px !important; }
  .row.crbtns { height: 540px; }
}
@media screen and (max-width: 1078px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 15px !important; }
  .desktopViewStockBid .bigBtn .fs-5 { font-size: 8px !important; }
  
}
@media screen and (max-width: 1080px) {
  .desktopViewStockBid .flx img { max-width: 20px; max-height: 25px; }
  .desktopViewStockBid .bigBtn h4 { font-size: 12px !important; }
  .row.crbtns { height: 520px; }
  .aboutCarContent p {
    padding-right: 0px;
  }
}
@media screen and (max-width: 1051px) {
  .header-op-btn span i{
    font-size: 13px!important;
  }
  .header-op-btn{
    font-size: 13px!important;
  }
}
@media screen and (max-width: 1040px) {
  .row.crbtns { height: 490px; }
}
@media screen and (max-width: 1026px) {
  .header-op-btn span i{
    font-size: 12px!important;
  }
  .header-op-btn{
    font-size: 12px!important;
  }
}
@media screen and (max-width: 1001px) {
  .header-op-btn span i{
    font-size: 11px!important;
  }
  .header-op-btn{
    font-size: 11px!important;
  }
}
@media screen and (min-width: 992px) {
  .bottomRedBorder { display: none; }
}
@media screen and (max-width: 992px) {
  .header-tops { padding: 0px !important; }
  .currency-codes { display: none; }
  .desktopViewStockBid { display: none; }
  .row.crbtns { height: 200px; }
  .table-border { border: none !important; }
  .border { border: 1px solid rgb(214, 214, 214) !important; }
  .row.crbtns {
    width: auto;
}
  .breadcrumb-margin {
    margin-left: 0px!important;
  }
  .hide-mobile { display: none; }
  .show-mobile { display: block; }
  .wpLink1 {
		position: fixed;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 100000;
	}
  .top-margin-minus{
    margin-top: 20px!important;
  }
  .footer-top-zero{
    padding-top: 0!important;
    padding-bottom: 5px!important;
  }
  .copyright p{
    font-size: 12px;
  }
  .top-margin {
    margin-top: 0px!important;
  }
  .car-top-padding{
    padding-top: 0!important;
    padding-bottom: 0!important;
  }

}
@media screen and (max-width: 980px) {
  .row.crbtns { height: 190px; }
}
@media screen and (max-width: 960px) {
  .row.crbtns { height: 180px; }
}
@media screen and (max-width: 950px) {
  .row.crbtns { height: 160px; }
}
@media screen and (max-width: 940px) {
  .row.crbtns { height: 155px; }
}
@media screen and (max-width: 767px) {
  .row.crbtns { height: 150px; }
  .aboutCarContent p {margin-right: 0px;}
}
@media screen and (max-width: 740px) {
  .row.crbtns { height: 140px; }
}
@media screen and (max-width: 730px) {
  .row.crbtns { height: 130px; }
}
@media screen and (max-width: 720px) {
  .row.crbtns { height: 120px; }
}
@media screen and (max-width: 590px) {
  .row.crbtns { height: 110px; }
}
@media screen and (max-width: 576px) {
  .input-padding::placeholder {
    font-size: 12px;
  }
}
@media screen and (max-width: 570px) {
  .searchForUsedCar { font-size: 20px; }
  .carSearchKeywords button { font-size: 16px !important; }
}
@media screen and (max-width: 540px) {
  .row.crbtns { height: 100px; }
}
@media screen and (max-width: 520px) {
  .input-padding {
    padding: 15px 5px 10px 5px !important;
  }
  .subscribe-btn{
    font-size: 12px;
  }
}
@media screen and (max-width: 489px) {
  .cl-py .searchForUsedCar { font-size: 18px; }
  .cl-py.py-4 { padding: 0.8rem 0px !important; }
  .row.crbtns { height: 90px; }
}
@media screen and (max-width: 449px) {
  .cl-py .searchForUsedCar { font-size: 16px; }
  .carSearchKeywords button { font-size: 10px !important; }
  .row.crbtns { height: 80px; }
}
@media screen and (max-width: 408px) {
  .cl-py .searchForUsedCarLong { font-size: 14px; margin: 5px 0px !important; }
}
@media screen and (max-width: 385px) {
  .row.crbtns { height: 70px; }
}
@media screen and (max-width: 368px) {
  .cl-py .searchForUsedCarLong { font-size: 12px; }
  .carSearchKeywords button { font-size: 9px !important; }
}
@media screen and (max-width: 340px) {
  .row.crbtns { height: 60px; }
}
@media screen and (max-width: 328px) {
  .searchForUsedCarLong { font-size: 10px !important; }
}
@media screen and (max-width: 288px) {
  .cl-py .searchForUsedCar { font-size: 8px; }
  .carSearchKeywords button { font-size: 8px !important; }
}
.bottom-border { border-bottom: 5px solid red; border-top-left-radius: 5px; border-top-right-radius: 5px; }
