.DeskBtn { border: 4px solid rgb(221, 221, 221) !important; }
.gavelFont { font-size: 50px; }
.subscribe-btn { background-color: rgb(186, 2, 2); border: 1px solid rgb(186, 2, 2); color: rgb(255, 255, 255); border-radius: 5px; box-shadow: rgb(186, 2, 2) 3px 3px 5px; transition: all 0.4s ease-in-out 0s; font-weight: 700; }
.subscribe-btn:hover { border-color: lightgray; }
.foo-car a:hover { text-decoration: underline !important; }
.red-custom-bottom { border-bottom: 2px solid rgb(220, 53, 69) !important; }
.mobileMenu { opacity: 0.9; }
#wa_img { position: relative; }
.bottomRedBorder {
  width: 100%;
  margin: auto;
}
#wa_img #wpClose {position: absolute;right: -6px;top: 18px;background: #FFFFFF;padding: 0px 8px;color: black;border-radius: 10%;border: 2px solid lightgray;}
.searchForUsedCar { color: rgb(0, 0, 0); font-weight: 700; font-size: 24px; letter-spacing: 1px; }
.searchForUsedCar i { color: rgb(220, 53, 69); }
.carSearchKeywords button { font-size: 20px !important; }
.carSearchKeywords button:hover { color: rgb(0, 0, 0); }
.searchForUsedCarBtn {
  border-radius: 10px;
  font-size: 26px;
  font-weight: 600;
  padding: 0px 0;
  background: linear-gradient(to right,  #fd031b 0%,#ec1a25 49%,#e1292c 51%,#c20a07 100%);
  box-shadow: rgb(136 136 136 / 40%) 6px 6px 10px !important;
  }
.nextBlog { font-size: 30px; }
.blogsMobile p { color: rgb(0, 0, 0) !important; }
.faq p { color: rgb(0, 0, 0); font-weight: 600; }
.mobileMenu p, .mobileMenu a, .mobileMenu select, .mobileMenu label { font-weight: 600; }
.aboutCarContent p {color: rgb(0, 0, 0); margin-right: 20px;}
.cars-display .card .card-body p { line-height: 15px; }
.popularReqModel .fa.fa-square { font-size: 8px; }
@media screen and (max-width: 2560px) {
  .row.crbtns { height: 1220px; }
  .detTable td{
    font-size: 18px;
    color: #000;
  }
  .buy-search-stock-btn {
    position: absolute;
    top: 48%;
    left: 11%;
  }
  .buy-search-stock-btn h4 {
    font-size: 18px;
    padding: 10px 5px;
  }
  .buy-search-stock-btn .fa-car-rear{
    font-size: 32px;
  }
  .buy-search-stock-btn i{
    font-size: 32px;
  }
} 
@media screen and (max-width: 2400px) {
  .row.crbtns { height: 1150px; }
} 
@media screen and (max-width: 2300px) {
  .buy-search-stock-btn {
    position: absolute;
    top: 48%;
    left: 10.5%;
  }
  .buy-search-stock-btn h4 {
    font-size: 17px;
    padding: 8px 6px;
  }
  .buy-search-stock-btn .fa-car-rear{
    font-size: 30px;
  }
  .buy-search-stock-btn i{
    font-size: 30px;
  }
} 
@media screen and (max-width: 2100px) {
  .row.crbtns { height: 985px; }
  .buy-search-stock-btn {
    position: absolute;
    top: 47%;
    left: 10.5%;
  }
  .buy-search-stock-btn h4 {
    font-size: 15px;
    padding: 6px 5px;
  }
  .buy-search-stock-btn .fa-car-rear{
    font-size: 28px;
  }
  .buy-search-stock-btn i{
    font-size: 28px;
  }
} 
@media screen and (max-width: 2050px) {
  .row.crbtns { height: 965px; }
} 
@media screen and (max-width: 2000px) {
  .row.crbtns { height: 940px; }
} 
@media screen and (max-width: 1950px) {
  .row.crbtns { height: 915px; }
}
@media screen and (max-width: 1900px) {
  .row.crbtns { height: 890px; }
  .buy-search-stock-btn {
    position: absolute;
    top: 47%;
    left: 10.5%;
  }
  .buy-search-stock-btn h4 {
    font-size: 13px;
    padding: 4px 5px;
  }
  .buy-search-stock-btn .fa-car-rear{
    font-size: 26px;
  }
  .buy-search-stock-btn i{
    font-size: 26px;
  }
}
@media screen and (max-width: 1850px) {
  .row.crbtns { height: 865px; }
}
@media screen and (max-width: 1800px) {
  .row.crbtns { height: 840px; }
}
@media screen and (max-width: 1750px) {
  .row.crbtns { height: 820px; }
  .buy-search-stock-btn {
    position: absolute;
    top: 47%;
    left: 10.5%;
  }
  .buy-search-stock-btn h4 {
    font-size: 11px;
    padding: 0px 5px;
  }
  .buy-search-stock-btn .fa-car-rear{
    font-size: 25px;
  }
  .buy-search-stock-btn i{
    font-size: 25px;
  }
} 
@media screen and (max-width: 1700px) {
  .row.crbtns { height: 790px; }
} 
@media screen and (max-width: 1650px) {
  .row.crbtns { height: 765px; }
} 
@media screen and (max-width: 1600px) {
  .row.crbtns { height: 740px; }
  .buy-search-stock-btn h4 {
    font-size: 10px;
    padding: 0px 5px;
  }
  .buy-search-stock-btn .fa-car-rear{
    font-size: 22px;
  }
  .buy-search-stock-btn .fa-circle-chevron-right{
    font-size: 16px;
  }
}
@media screen and (max-width: 1550px) {
  .row.crbtns { height: 720px; }
  .car-details h1{
    font-size: 36px;
  }
}
@media screen and (max-width: 1520px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 30px; }
  .desktopViewStockBid .bigBtn .fs-5 { font-size: 15px !important; }
  .row.crbtns { height: 680px; }
}
@media screen and (max-width: 1512px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 25px; }
  .row.crbtns { height: 680px; }
  .detTable td{
    font-size: 16px;
    color: #000;
  }
  .header-op-btn { font-size: 16px !important; }
  .header-op-btn span i { font-size: 16px !important; }
}
@media screen and (max-width: 1440px ) {
  .row.crbtns { height: 660px; }
  .height-space1 {
    margin-top: 15px !important;
  }
    .options span.fs-10{
      font-size: 8px;
    }
    .height-space2 {
      margin-top: 65px !important;
  }
}
@media screen and (max-width: 1390px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 25px; }
  .desktopViewStockBid .bigBtn .fs-5 { font-size: 13px !important; }
  .desktopViewStockBid .flx img { max-width: 30px; max-height: 25px; }
  .desktopViewStockBid .flx .fa.fa-angle-right { height: 30px; width: 30px; font-size: 13px !important; }
  .row.crbtns { height: 630px; }
  .header-op-btn { font-size: 13px !important; }
  .header-op-btn span i { font-size: 13px !important; }
  .range-slider-area h1{
    font-size: 26px;
  }
  .range-slider-area h2{
    font-size: 16px;
  }
  .input-feild::placeholder{
    font-size: 14px;
  }
  .range-input-box .form-select {
    font-size: 14px;
    width: 42%;
  }
  .car-details h1{
    font-size: 35px;
  }
  .car-details h2{
    font-size: 24.5px;
  }
  .range-input-box .form-select {
    font-size: 13px;
    width: 42%;
  }
  .car-search-result{
    padding: 10px;
  }
  .range-slider-area{
    padding: 10px;
  }
  .img-div1 img{
    width: 45%;
  }
  .buy-search-stock-btn {
    position: absolute;
    top: 47%;
    left: 12%;
  }
  .img-div2 .draw-buy-car {
    position: absolute;
    top: -22%;
    left: 26%;
    width: 28%;
  }
  .steps-btn .btn-steps {
    padding: 10px 30px 5px 30px;
  }
  .steps-btn .btn-steps .steps-text {
    padding: 0px 13px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .steps-btn .btn-steps .steps-title {
    font-size: 25px;
  }
  .account-number{
    width: 31%;
  }
}
@media screen and (max-width: 1339px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 22px; }
  .row.crbtns { height: 610px; }
  .header-op-btn { font-size: 12px !important; }
  .header-op-btn span i { font-size: 12px !important; }
  .car-details h1{
    font-size: 34px;
  }
  .car-details h2{
    font-size: 23.5px;
  }
  .car-title h2 {
    font-size: 32px;
  }
  .title-border-line {
    width: 80%;
  }
  .car-search-result{
    padding: 7px;
  }
  .range-slider-area{
    padding: 7px;
  }
  .account-number{
    width: 32%;
  }
  .whatsapp-link img {
    width: 35%;
  }
}
@media screen and (max-width: 1284px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 22px !important; }
  .gavelFont { font-size: 40px; }
  .row.crbtns { height: 580px; }
  .header-op-btn { font-size: 10px !important; }
  .header-op-btn span i { font-size: 10px !important; }
  .filter-items .filter-item p {
    font-size: 14px;
  }
  .filter-items .filter-item .filter-buttons button {
    font-size: 15px;
    padding: 1px 12px;
  }
  .car-per-page p {
    color: #292826;
    font-size: 18px;
  }
}
@media screen and (max-width: 1270px) {
  .desktopViewStockBid .bigBtn .fs-5 { font-size: 11px !important; }
  .row.crbtns { height: 560px; }
  .account-number{
    width: 33%;
  }
}

@media screen and (max-width: 1248px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 18px !important; }
  .row.crbtns { height: 600px; }
  .car-details h1{
    font-size: 32px;
  }
  .car-details h2{
    font-size: 22px;
    margin-bottom: 7px;
  }
  .car-history p {
    font-size: 14px;
  }
  .price-title {
    font-size: 15px;
  }
  .price-details h1 {
    font-size: 25px;
  }
  .car-title h2 {
    font-size: 30px;
  }
  .title-border-line {
    width: 78%;
  }
  .range-input-box .form-select {
    font-size: 13px;
    width: 43%;
  }
  .car-search-result{
    padding: 8px 5px;
  }
  .range-slider-area{
    padding: 8px 5px;
  }
  .buy-search-stock-btn {
    position: absolute;
    top: 47%;
    left: 12%;
  }
  .buy-search-stock-btn h4 {
    font-size: 9px;
    padding: 0px 5px;
  }
  .buy-search-stock-btn .fa-car-rear{
    font-size: 18px;
  }
  .buy-search-stock-btn .fa-circle-chevron-right{
    font-size: 14px;
  }
  .steps-btn .btn-steps .steps-title {
    font-size: 24px;
  }
  .account-number{
    width: 34%;
  }
}
@media screen and (max-width: 1200px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 18px !important; }
  .row.crbtns { height: 570px; }
  .detTable td{
    font-size: 15px;
    color: #000;
  }
  .header-op-btn { font-size: 14px !important; }
  .header-op-btn span i { font-size: 14px !important; }
  .range-input-box .form-select {
    font-size: 12px;
    width: 45%;
  }
  .price-details h1 {
    font-size: 24px;
  }
  .price-details h2 {
    font-size: 20px;
  }
  .car-title h2 {
    font-size: 28px;
  }
  .scrollup {
    position: fixed;
    bottom: 25px;
    right: 20px;
    font-size: 30px;
  }
  .range-input-box .form-select {
    font-size: 14px;
    width: 43%;
  }
  .car-search-result{
    padding: 12px 10px;
  }
  .range-slider-area{
    padding: 12px 10px;
  }
  .how-to-buy{
    font-size: 55px;
    margin-bottom: 32px;
  }
  .steps-btn .btn-steps .steps-title {
    font-size: 23px;
  }
  .steps-btn .btn-steps .steps-text {
    font-size: 15px;
  }
  .steps-btn .btn-step4 {
    text-align: start;
  }
  .steps-btn .btn-steps {
    height: 95px;
  }
  .content-step p {
    font-size: 18px;
  }
  .content-step-1 ul li {
    font-size: 18px;
  }
  .content-step-2 table th {
    font-size: 18px;
  }
  .content-step-2 table td {
    font-size: 18px;
  }
  .buy-wp-btn img {
    margin: 35px 0 25px 0;
  }
  /* .pdf-link img {
    width: 2.5%;
  } */
  .buy-link {
    font-size: 18px;
  }
  .whatsapp-link img {
    width: 38%;
  }
}
@media screen and (max-width: 1190px) {
  .header-op-btn { font-size: 13px !important; }
  .header-op-btn span i { font-size: 13px !important; }
}
@media screen and (max-width: 1171px) {
  .desktopViewStockBid .gavelFont { font-size: 20px !important; }
  .row.crbtns { height: 560px; }
  .header-op-btn { font-size: 12px !important; }
  .header-op-btn span i { font-size: 12px !important; }
}
@media screen and (max-width: 1140px) {
  .header-op-btn { font-size: 11px !important; }
  .header-op-btn span i { font-size: 11px !important; }
  .car-details h1{
    font-size: 30px;
  }
  .car-details h2{
    font-size: 20px;
    margin-bottom: 7px;
  }
  .search-breadcrumb a {
    font-size: 15px;
  } 
  .steps-btn .btn-steps .steps-text {
    font-size: 14px;
  }
  .steps-btn .btn-steps .steps-title {
    font-size: 22px;
  }
  .steps-btn .btn-steps {
    padding: 8px 15px 2px 25px;
  }
  .buy-search-stock-btn .fa-car-rear {
    font-size: 17px;
  }
  .buy-search-stock-btn .fa-circle-chevron-right {
    font-size: 12px;
  }
}
@media screen and (max-width: 1120px) {
  .header-op-btn { font-size: 10px !important; }
  .header-op-btn span i { font-size: 10px !important; }
}
@media screen and (max-width: 1111px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 16px !important; }
  .desktopViewStockBid .bigBtn .fs-5 { font-size: 10px !important; }
  .row.crbtns { height: 540px; }
  .car-details h1{
    font-size: 28px;
  }
  .car-details h2{
    font-size: 19.5px;
    margin-bottom: 7px;
  }
  .price-details button img{
    width: 80%;
  }
}
@media screen and (max-width: 1078px) {
  .desktopViewStockBid .bigBtn h4 { font-size: 15px !important; }
  .desktopViewStockBid .bigBtn .fs-5 { font-size: 8px !important; }
  .search-breadcrumb a {
    font-size: 16px;
  }
  .car-title h2 {
    font-size: 25px;
  }
  .title-border-line {
    width: 75%;
  }
  .buy-search-stock-btn h4 {
    font-size: 8px;
    padding: 0px 3px;
  }
  .buy-search-stock-btn .fa-car-rear {
    font-size: 16px;
  }
  .buy-search-stock-btn .fa-circle-chevron-right {
    font-size: 10px;
  }
}
@media screen and (max-width: 1080px) {
  .desktopViewStockBid .flx img { max-width: 20px; max-height: 25px; }
  .desktopViewStockBid .bigBtn h4 { font-size: 12px !important; }
  .row.crbtns { height: 520px; }
  .aboutCarContent p {
    padding-right: 0px;
  }
}
@media screen and (max-width: 1051px) {
  .header-op-btn span i{
    font-size: 9px!important;
  }
  .header-op-btn{
    font-size: 9px!important;
  }
}
@media screen and (max-width: 1040px) {
  .row.crbtns { height: 490px; }
  .filter-items .filter-item p {
    font-size: 13px;
  }
  .filter-items .filter-item .filter-buttons button {
    font-size: 14px;
    padding: 1px 10px;
  }
  .car-details h1 {
    font-size: 27px;
  }
  .car-details h2 {
    font-size: 18px;
  }
  .price-details button img{
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .bottomRedBorder { display: none; }
  .footer .social-desk { display: none; }
}
@media screen and (max-width: 991px) {
  .header-tops { padding: 0px !important; }
  .currency-codes { display: none; }
  .desktopViewStockBid { display: none; }
  .row.crbtns {height: 140px;}
  .table-border { border: none !important; }
  .border { border: 1px solid rgb(214, 214, 214) !important; }
  .row.crbtns {
    width: auto;
  }
  .signup.signup-content img {
    width: 42% !important;
  }
  .height-space2 {
    margin-top: 10px !important;
  }
  .breadcrumb-margin {
    margin-left: 0px!important;
  }
  .hide-mobile { display: none; }
  .show-mobile { display: block; }
  .hide-flex-mobile{
    display: none;
  }
  .wpLink1 {
		position: fixed;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 100000;
	}
  .top-margin-minus{
    margin-top: 20px!important;
  }
  .footer-top-zero{
    padding-top: 0!important;
    padding-bottom: 5px!important;
  }
  .copyright p{
    font-size: 12px;
  }
  .carSearchKeywords button { font-size: 18px !important; }
  .top-margin {
    margin-top: 0px!important;
  }
  .car-top-padding{
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  .mobile-banner-design{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .mobile-banner-design .container-fluid{
    padding: 5px 0!important;
  }
  .car-details-navbar-expand{
    padding-left: 40px!important;
    padding-right: 25px!important;
  }

  /* search car media css start  */
  .nav-title p{
    padding-left: 22px;
  }
  .scrollup {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 28px;
  }
  .mobile-header-top-container{
    padding-top: 3px!important;
    padding-bottom: 3px!important;
  }
  .search-mobile-navbar{
    padding-left: 0px;
    padding-right: 0px;
  }
  .search-mobile-navbar .navbar-brand{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .search-mobile-container{
    padding-left: 0px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .car-title h2 {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .car-search-result{
    padding: 0;
  }
  .search-breadcrumb{
    margin-bottom: 0;
  }
  .car-search-result{
    margin-top: 5px;
  }
  .car-search-result span{
    font-size: 18px;
    margin-bottom: 5px;
  }
  .car-search-result h1{
    font-size: 45px;
  }
  .current-filter p{
    font-size: 23px;
    margin-bottom: 10px;
  }
  .mobile-filter-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .mobile-filter-buttons .filter-btn{
    border: 1px solid #8C8881;
    width: 25%;
    border-radius: 5px;
    color: #292826;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-filter-buttons .filter-btn i{
    padding-right: 5px;
  }
  .mobile-filter-buttons .form-select{
    width: 70%;
    border: 1px solid #8C8881;
    border-radius: 5px;
    color: #292826;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-right: 12px;
  }
  .mobile-filter-buttons .form-select:focus{
    box-shadow: none;
  }
  .mobile-car-content{
    padding: 10px 0;
  }
  .mobile-car-content h1{
    color: #292826;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 0;
  }
  .mobile-car-content h2{
    color: #1774e6;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .mobile-car-content .search-car-img{
    border-radius: 12px;
    width: 100%;
  }
  .mobile-car-details .ref-p{
    margin-bottom: 0;
    color: #8c8881;
    font-size: 25px;
    padding-bottom: 10px;
  }
  .mobile-car-details h3{
    color: #000;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 15px;
  }
  .vehicle-price P{
    color: #292826;
    font-size: 26px;
    margin-bottom: 0;
    padding-bottom: 5px;
  }
  .vehicle-price h1{
    color: #ff001a;
    font-size: 45px;
  }
  .mobile-best-price-btn{
    border: 0;
    padding: 0;
    background-color: transparent;
    padding-top: 20px;
  }
  .mobile-best-price-btn img{
    box-shadow: 4px 4px 6px #000;
    border-radius: 3px;
    width: 100%;
  }
  .search-mobile-breadcrumb a{
      font-size: 19px;
  }
  .whatsapp-mobile a {
    margin: 0;
    padding: 0;
  }
  .mobile-loading-section{
    background: linear-gradient(to right,  #fb061d 0%,#ef1d26 48%,#ec2128 51%,#d11412 100%);
    margin-bottom: 60px;
  }
  .now-loading-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 0px;
  }
  .now-loading-mobile i{
    margin: 0;
    color: #fff;
    padding-bottom: 15px;
    font-size: 45px;
    transform: rotate(-90deg);
  }
  .now-loading-mobile h1{
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 35px;
  }
  /* how to buy css  */
  .buy-breadcrumb{
    padding-left: 15px;
    margin-top: 5px;
  }
  .buy-breadcrumb a{
    font-weight: 400;
    font-size: 17px;
    letter-spacing: .5px;
  }
  .how-to-buy {
    text-align: center;
  }
  .steps-line {
    margin: 0 -5px;
  }
  .img-div1 {
    margin-left: -5px;
    margin-right: -5px;
  }
  .buy-search-stock-btn {
    position: absolute;
    top: 48%;
    left: 13%;
  }
  .buy-search-stock-btn .fa-car-rear {
    font-size: 18px;
  }
  .buy-search-stock-btn .fa-circle-chevron-right {
    font-size: 12px;
  }
  .buy-search-stock-btn h4 {
    font-size: 11px;
    padding: 3px 5px;
  }
  .content-step-1 ul li .marked-line {
    margin-left: 0px;
  }
  .step-2{
    margin-top: 50px;
  }
  .step-3{
    margin-top: 50px;
  }
  .step-4{
    margin-top: 50px;
  }
  .img-div3 {
    text-align: center;
  }
  .img-div4 {
    text-align: center;
  }
  .steps-btn .btn-steps {
    height: auto;
  }
  .menu-img-3 {
    width: 55%;
    margin: auto;
  }
  .steps-btn .btn-step4 {
    text-align: center;
  }
  .steps-btn .btn-steps {
    height: 218px;
  }
  .steps-btn .btn-steps .steps-text {
    border-radius: 2px;
  }
  .menu-img-1{
    position: relative;
  }
  .buy-search-menu-stock-btn{
    position: absolute;
    top: 47%;
    left: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 1px;
    border: 2px solid #E7E7E7;
  }
  .buy-search-menu-stock-btn i{
    color: #E10000;
    font-size: 7px;
  }
  .buy-search-menu-stock-btn .fa-car-rear{
    font-size: 11px;
  }
  .buy-search-menu-stock-btn .fa-circle-chevron-righ{
    font-size: 15px;
  }
  .buy-search-menu-stock-btn h4{
    margin-bottom: 0;
    font-size: 6px;
    padding: 0 2px;
    font-weight: 700;
  }
  .menu-img-2{
    position: relative;
  }
  .menu-img-car {
    position: absolute;
    top: -2%;
    left: 72%;
    width: 32%;
  }
  .whatsapp-link img {
    width: 30%;
  }
  .top-bar-header{
    background-color: #c20a07;
    padding-left: 3px;
  }
}
@media screen and (max-width: 900px) {
  .buy-search-menu-stock-btn{
    position: absolute;
    top: 47%;
    left: 26%;
    padding: 3px 0px;
  }
  .buy-search-menu-stock-btn i{
    font-size: 5px;
  }
  .buy-search-menu-stock-btn .fa-car-rear{
    font-size: 9px;
  }
  .buy-search-menu-stock-btn .fa-circle-chevron-righ{
    font-size: 11px;
  }
  .steps-btn .btn-steps {
    height: 205px;
  }
  .whatsapp-link img {
    width: 33%;
  }
}
@media screen and (max-width: 875px) {
  .search-mobile-breadcrumb a{
    font-size: 17px;
  }
  .car-title h2 {
    font-size: 35px;
  }
  .car-search-result h1 {
    font-size: 40px;
  }
  .mobile-car-content h1{
    font-size: 35px;
  }
  .mobile-car-content h2{
    font-size: 30px;
  }
  .mobile-car-details .ref-p{
    font-size: 22px;
  }
  .mobile-car-details h3{
    font-size: 33px;
  }
  .vehicle-price P{
    font-size: 23px;
  }
  .vehicle-price h1{
    font-size: 40px;
  }
  .mobile-filter-buttons .form-select{
    margin-right: 10px;
  }
  .buy-search-stock-btn {
    position: absolute;
    top: 48%;
    left: 12%;
  }
  .buy-search-stock-btn .fa-car-rear {
    font-size: 17px;
  }
  .buy-search-stock-btn h4 {
    font-size: 10px;
    padding: 3px 5px;
  }
  .buy-search-stock-btn .fa-circle-chevron-right {
    font-size: 11px;
  }
  .steps-btn .btn-steps {
    height: 195px;
  }
}
@media screen and (max-width: 767px) {
  .row.crbtns {height: 100px;}
  .aboutCarContent p {margin-right: 0px;}
  .signup.signup-content img {
    width: 57% !important;
  }
  .hero-slider-pt-1 {
    margin-top: -25px;
  }
  .mobile-filter-buttons .form-select{
    margin-right: 6px;
  }
  .car-details-navbar-expand{
    padding-left: 45px!important;
  }
  .mobile-modal-body-design .close-btn {
    position: absolute;
    top: 8px;
    right: 30px;
    padding: 0px 8px;
    z-index: 99;
    border-radius: 2px;
  }
  .mobile-modal-body-design .pop-up-form .inp label{
    font-size: 15px;
  }
  .mobile-modal-body-design .pop-up-form {
    width: 90%;
  }
  .mobile-modal-body-design .pop-up-get-qoute {
    font-size: 22px;
  }
  .mobile-modal-body-design .pop-up-form label {
    font-size: 16px;
  }
  .mobile-modal-body-design .pop-up-price-btn{
    padding: 0px 32px !important;
    font-size: 29px;
  }
  .img-div1 img{
    width: auto;
  }
  .img-div3 img {
    width: 45%;
  }
  .buy-search-stock-btn {
    position: absolute;
    top: 50%;
    left: 34%;
  }
  .buy-search-stock-btn .fa-car-rear {
    font-size: 20px;
  }
  .buy-search-stock-btn h4 {
    font-size: 12px;
    padding: 3px 5px;
  }
  .buy-search-stock-btn .fa-circle-chevron-right {
    font-size: 12px;
  }
  .img-div2 .draw-buy-car {
    position: absolute;
    top: 0%;
    left: 72%;
    width: 30%;
  }
  .steps-btn .btn-steps {
    height: 315px;
  }
  .buy-search-menu-stock-btn {
    position: absolute;
    top: 50%;
    left: 32%;
    padding: 3px 0px;
  }
  .whatsapp-link img {
    width: 39%;
  }
}
@media screen and (max-width: 730px) {
  .search-mobile-breadcrumb a{
    font-size: 16px;
  }
  .car-title h2 {
    font-size: 33px;
  }
  .current-filter p {
    font-size: 22px;
  }
  .car-search-result h1 {
    font-size: 40px;
  }
  .mobile-car-content h1{
    font-size: 33px;
  }
  .mobile-car-content h2{
    font-size: 27px;
  }
  .mobile-car-details .ref-p{
    font-size: 21px;
  }
  .mobile-car-details h3{
    font-size: 32px;
  }
  .vehicle-price P{
    font-size: 22px;
  }
  .vehicle-price h1{
    font-size: 38px;
  }
  .steps-btn .btn-steps {
    height: 300px;
  }
}
@media screen and (max-width: 660px) {
  .mobile-header-top p {
    font-size: 15px;
  }
  .search-mobile-breadcrumb a{
    font-size: 16px;
  }
  .car-title h2 {
    font-size: 29px;
  }
  .current-filter p {
    font-size: 21px;
  }
  .car-search-result h1 {
    font-size: 36px;
  }
  .mobile-car-content h1{
    font-size: 29px;
  }
  .mobile-car-content h2{
    font-size: 23px;
  }
  .mobile-car-details .ref-p{
    font-size: 19px;
  }
  .mobile-car-details h3{
    font-size: 27px;
  }
  .vehicle-price P{
    font-size: 20px;
  }
  .vehicle-price h1{
    font-size: 34px;
  }
  .ask-price-btn-img {
    width: 50%;
  }
  .steps-btn .btn-steps {
    height: 270px;
  }
  .whatsapp-link img {
    width: 45%;
  }
  .img-div2 .draw-buy-car {
    position: absolute;
    top: -4%;
    left: 70%;
    width: 35%;
  }
}
@media screen and (max-width: 590px) {
  .car-details-navbar-expand{
    padding-left: 35px!important;
  }
  .buy-search-stock-btn {
    position: absolute;
    top: 50%;
    left: 31%;
  }
  .how-to-buy {
    font-size: 50px;
    margin-bottom: 25px;
  }
  .steps-btn .btn-steps {
    height: 245px;
  }
}
@media screen and (max-width: 576px) {
  .input-padding::placeholder {
    font-size: 14px;
  }
  .car-details-navbar-expand{
    padding-left: 15px!important;
    padding-right: 10px!important;
  }
  .steps-btn .btn-steps {
    height: 235px;
  }
}
@media screen and (max-width: 570px) {
  .searchForUsedCar { font-size: 20px; }
  .carSearchKeywords button { font-size: 16px !important; }
}
@media screen and (max-width: 540px) {
  .row.crbtns {height: 94px;}
  .search-mobile-breadcrumb a{
    font-size: 15px;
  }
  .car-title h2 {
    font-size: 27px;
  }
  .current-filter p {
    font-size: 20px;
  }
  .car-search-result h1 {
    font-size: 36px;
  }
  .mobile-car-content h1{
    font-size: 28px;
  }
  .mobile-car-content h2{
    font-size: 20px;
  }
  .mobile-car-details .ref-p{
    font-size: 18px;
    padding-bottom: 3px;
  }
  .mobile-car-details h3{
    font-size: 24px;
    padding-bottom: 10px;
  }
  .vehicle-price P{
    font-size: 19px;
    padding-bottom: 3px;
  }
  .vehicle-price h1{
    font-size: 32px;
  }
  .now-loading-mobile {
    padding: 17px 0px;
  }
  .content-step-2 table th {
    font-size: 16px;
  }
  .content-step-2 table td {
    font-size: 16px;
  }
  .content-step p {
    font-size: 16px;
  }
  .buy-link {
    font-size: 16px;
  }
  .steps-btn .btn-steps {
    height: 225px;
  }
}
@media screen and (max-width: 520px) {
  .input-padding {
    padding: 15px 10px 10px 5px !important;
  }
  .subscribe-btn{
    font-size: 12px;
  }
  .steps-btn .btn-steps {
    height: 215px;
  }
  .whatsapp-link img {
    width: 60%;
  }
  .top-bar-header p{
    font-size: 14px !important;
  }
}
@media screen and (max-width: 500px) {
  .search-mobile-breadcrumb a{
    font-size: 14px;
  }
  .car-title h2 {
    font-size: 25px;
  }
  .current-filter p {
    font-size: 18px;
  }
  .car-search-result h1 {
    font-size: 35px;
  }
  .mobile-car-content h1{
    font-size: 26px;
  }
  .mobile-car-content h2{
    font-size: 18px;
  }
  .mobile-car-details .ref-p{
    font-size: 16px;
  }
  .mobile-car-details h3{
    font-size: 22px;
    padding-bottom: 5px;
  }
  .vehicle-price P{
    font-size: 17px;
    padding-bottom: 3px;
  }
  .vehicle-price h1{
    font-size: 28px;
  }
  .mobile-filter-buttons .filter-btn {
    font-size: 22px;
  }
  .mobile-filter-buttons .form-select {
    font-size: 22px;
  }
  .buy-breadcrumb a {
    font-size: 16px;
    letter-spacing: 0;
  }
  .steps-btn .btn-steps {
    height: 210px;
  }
  .img-div2 .draw-buy-car {
    position: absolute;
    top: -4%;
    left: 69%;
    width: 37%;
  }
}
@media screen and (max-width: 489px) {
  .cl-py .searchForUsedCar { font-size: 18px; }
  .cl-py.py-4 { padding: 0.8rem 0px !important; }
  .row.crbtns { height: 90px; }
  .signup.signup-content img {
    width: 60% !important;
  }
  .steps-btn .btn-steps {
    height: 200px;
  }
  .top-bar-header p{
    font-size: 13px !important;
  }
}
@media screen and (max-width: 475px) {
  .signup.signup-content img {
    width: 65% !important;
  }
  .buy-search-stock-btn {
    position: absolute;
    top: 49%;
    left: 28%;
  }
  .account-number {
    width: 38%;
  }
  .steps-btn .btn-steps {
    height: 200px;
  }
}
@media screen and (max-width: 449px) {
  .cl-py .searchForUsedCar { font-size: 16px; }
  .carSearchKeywords button { font-size: 14px !important; }
  .row.crbtns { height: 80px; }
  .signup.signup-content img {
    width: 70% !important;
  }
  .mobile-best-price-btn img {
    width: 95%;
  }
  .whatsapp-mobile a img{
    width: 65%;
  }
  .mobile-header-top p {
    font-size: 14px;
  }
  .search-mobile-breadcrumb a{
    font-size: 13px;
  }
  .car-title h2 {
    font-size: 23px;
  }
  .current-filter p {
    font-size: 16px;
  }
  .car-search-result h1 {
    font-size: 33px;
  }
  .mobile-car-content h1{
    font-size: 23px;
  }
  .mobile-car-content h2{
    font-size: 17px;
  }
  .mobile-car-details .ref-p{
    font-size: 15px;
    padding-bottom: 2px;
  }
  .mobile-car-details h3{
    font-size: 18px;
    padding-bottom: 3px;
  }
  .vehicle-price P{
    font-size: 16px;
    padding-bottom: 2px;
  }
  .vehicle-price h1{
    font-size: 26px;
  }
  .mobile-filter-buttons .filter-btn {
    font-size: 20px;
  }
  .mobile-filter-buttons .form-select {
    font-size: 20px;
  }
  .content-step-2 table td {
    font-size: 15px;
  }
  .content-step-2 table th {
    font-size: 15px;
  }
  .content-step p {
    font-size: 15px;
  }
  .buy-link {
    font-size: 15px;
  }
  .steps-btn .btn-steps {
    height: 185px;
  }
  .steps-btn .btn-steps .steps-title {
    font-size: 16px;
    line-height: 18px;
  }
  .steps-btn .btn-steps .steps-text {
    font-size: 12px;
  }
  .buy-search-menu-stock-btn {
    position: absolute;
    top: 50%;
    left: 26%;
    padding: 3px 0px;
  }
  .buy-search-menu-stock-btn .fa-car-rear {
    font-size: 7px;
  }
  .buy-search-menu-stock-btn h4 {
    font-size: 5px;
    padding: 0px 1px;
  }
  .buy-search-menu-stock-btn i {
    font-size: 4px;
  }
  .steps-line h1 {
    font-size: 20px;
  }
  .img-div2 .draw-buy-car {
    position: absolute;
    top: -7%;
    left: 67%;
    width: 40%;
  }
  .top-bar-header p{
    font-size: 12px !important;
  }
}
@media screen and (max-width: 408px) {
  .cl-py .searchForUsedCarLong { font-size: 14px; margin: 5px 0px !important; }
  .signup.signup-content img {
    width: 75% !important;
  }
  .mobile-header-top p {
    font-size: 13px;
  }
  .search-mobile-breadcrumb a{
    font-size: 11px;
  }
  .car-title h2 {
    font-size: 20px;
  }
  .current-filter p {
    font-size: 15px;
  }
  .car-search-result h1 {
    font-size: 30px;
  }
  .mobile-car-content h1{
    font-size: 22px;
  }
  .mobile-car-content h2{
    font-size: 15px;
  }
  .mobile-car-details .ref-p{
    font-size: 14px;
    padding-bottom: 2px;
  }
  .mobile-car-details h3{
    font-size: 16px;
    padding-bottom: 3px;
  }
  .vehicle-price P{
    font-size: 15px;
    padding-bottom: 2px;
  }
  .vehicle-price h1{
    font-size: 23px;
  }
  .mobile-filter-buttons .filter-btn {
    font-size: 16px;
  }
  .mobile-filter-buttons .form-select {
    font-size: 16px;
  }
  .buy-search-stock-btn {
    position: absolute;
    top: 48%;
    left: 26%;
  }
  .steps-btn .btn-steps {
    height: 185px;
  }
  .how-to-buy {
    font-size: 50px;
    margin-bottom: 18px;
  }
  .buy-breadcrumb a {
    font-size: 13px;
    letter-spacing: 0;
  }
  .content-step-2 table th {
    font-size: 14px;
  }
  .content-step-2 table td {
    font-size: 14px;
  }
  .whatsapp-mobile a img  {
    width: 68%;
  }
  .top-bar-header p{
    font-size: 11px !important;
  }
}
@media screen and (max-width: 385px) {
  .row.crbtns { height: 70px; }
  .signup.signup-content img {
    width: 80% !important;
  }
  .current-filter p {
    font-size: 14px;
  }
  .steps-btn .btn-steps {
    height: 165px;
  }
  .whatsapp-mobile a img {
    width: 70%;
  }
}
@media screen and (max-width: 368px) {
  .cl-py .searchForUsedCarLong { font-size: 12px; }
  .carSearchKeywords button { font-size: 12px !important; }
  .signup.signup-content img {
    width: 83% !important;
  }
  .mobile-car-details .ref-p {
    font-size: 13px;
    padding-bottom: 0px;
  }
  .mobile-car-details h3 {
    font-size: 15px;
    padding-bottom: 0px;
  }
  .vehicle-price P {
    font-size: 14px;
    padding-bottom: 0px;
  }
  .vehicle-price h1 {
    font-size: 21px;
  }
  .mobile-car-content h2 {
    font-size: 14px;
  }
  .mobile-car-content h1 {
    font-size: 20px;
  }
  .mobile-modal-body-design .pop-up-form label {
    font-size: 15px;
  }
  .mobile-modal-body-design .pop-up-price-btn {
    padding: 0px 28px !important;
    font-size: 28px;
  }
  .now-loading-mobile h1 {
    font-size: 32px;
  }
  .buy-search-stock-btn {
    position: absolute;
    top: 48%;
    left: 27%;
  }
  .buy-search-stock-btn h4 {
    font-size: 9px;
    padding: 2px 3px;
  }
  .buy-search-stock-btn .fa-car-rear {
    font-size: 18px;
  }
  .buy-search-stock-btn .fa-circle-chevron-right {
    font-size: 10px;
  }
  .account-number {
    width: 40%;
  }
}
@media screen and (max-width: 355px) {
  .current-filter p {
    font-size: 13px;
  }
  .car-title h2 {
    font-size: 18px;
  }
  .search-mobile-breadcrumb a {
    font-size: 10px;
  }
  .mobile-best-price-btn img {
    width: 90%;
  }
  .whatsapp-mobile a img {
    width: 75%;
    margin: 0;
    padding: 0;
  }
  .mobile-header-top p {
    font-size: 12px;
  }
  .mobile-modal-body-design .pop-up-price-btn {
    padding: 0px 25px !important;
    font-size: 25px;
  }
  .mobile-modal-body-design .pop-up-form label {
    font-size: 13px;
  }
  .mobile-modal-body-design .close-btn {
    position: absolute;
    top: 8px;
    right: 20px;
  }
  .mobile-modal-body-design .pop-up-get-qoute {
    font-size: 20px;
  }
  .now-loading-mobile h1 {
    font-size: 30px;
  }
  .steps-btn .btn-steps {
    height: 155px;
  }
  .account-number {
    width: 42%;
  }
  .top-bar-header p{
    font-size: 10px !important;
  }
}
@media screen and (max-width: 340px) {
  .row.crbtns {height: 57px;}
  .signup.signup-content img {
    width: 88% !important;
  }
  .mobile-car-content h2 {
    font-size: 13px;
  }
  .now-loading-mobile h1 {
    font-size: 28px;
  }
  .mobile-loading-section {
    margin-bottom: 50px;
  }
  .steps-btn .btn-steps {
    height: 145px;
  }
  .account-number {
    width: 44%;
  }
  .whatsapp-mobile a img {
    width: 78%;
  }
}
@media screen and (max-width: 328px) {
  .searchForUsedCarLong { font-size: 10px !important; }
  .mobile-header-top p {
    font-size: 11px;
  }
  .car-search-result h1 {
    font-size: 28px;
  }
  .search-mobile-breadcrumb a {
    font-size: 9px;
  }
  .car-search-result span {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .signup.signup-content img {
    width: 90% !important;
  }
  .signup.signup-content img {
    width: 83% !important;
  }
  .mobile-car-details .ref-p {
    font-size: 11px;
    padding-bottom: 0px;
  }
  .mobile-car-details h3 {
    font-size: 13px;
    padding-bottom: 0px;
  }
  .vehicle-price P {
    font-size: 12px;
    padding-bottom: 0px;
  }
  .vehicle-price h1 {
    font-size: 21px;
  }
  .mobile-car-content h2 {
    font-size: 12px;
  }
  .mobile-car-content h1 {
    font-size: 17px;
  }
  .current-filter p {
    font-size: 12px;
  }
  .whatsapp-mobile a img {
    width: 80%;
  }
}
@media screen and (max-width: 288px) {
  .cl-py .searchForUsedCar { font-size: 8px; }
  .carSearchKeywords button { font-size: 10px !important; }
}
